In [19]:
import pandas as pd

In [ ]:
from sklearn.linear_model import LinearRegression

In [5]:
import scipy

In [6]:
df=pd.read_csv("student.csv")

In [7]:
df.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [8]:
df.columns=['sinif','saat','puan']

In [9]:
y=df[['puan']]
x=df[['sinif','saat']]

In [20]:
df.head()

   sinif   saat    puan
0      3  4.508  19.202
1      4  0.096   7.734
2      4  3.133  13.811
3      6  7.909  53.018
4      8  7.811  55.299

In [11]:
lm=LinearRegression()
model=lm.fit(x,y)

In [15]:


model.coef_

array([[1.86405074, 5.39917879]])

In [16]:
model.intercept_

array([-7.45634623])

In [18]:
model.predict([[4,5.508]])

C:\Users\serif\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[29.7385335]])