In [65]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [66]:
df=pd.read_csv('Plane Price.csv')

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Model Name               517 non-null    object
 1   Engine Type              517 non-null    object
 2   HP or lbs thr ea engine  517 non-null    object
 3   Max speed Knots          497 non-null    object
 4   Rcmnd cruise Knots       507 non-null    float64
 5   Stall Knots dirty        502 non-null    float64
 6   Fuel gal/lbs             517 non-null    int64
 7   All eng rate of climb    513 non-null    object
 8   Eng out rate of climb    491 non-null    float64
 9   Takeoff over 50ft        492 non-null    float64
 10  Landing over 50ft        517 non-null    object
 11  Empty weight lbs         516 non-null    object
 12  Length ft/in             517 non-null    object
 13  Wing span ft/in          517 non-null    object
 14  Range N.M.               499 non-null    object
 15  Price                    507 non-null    float64
dtypes: float64(5), int64(1), object(10)
memory usage: 64.8+ KB

In [68]:
df=df[["Rcmnd cruise Knots","Stall Knots dirty","Fuel gal/lbs","Eng out rate of climb","Takeoff over 50ft","Price"]]
df=df.dropna()

In [69]:
y=df['Price']
x=df.drop("Price",axis=1)

In [70]:
ss=StandardScaler()
x2=ss.fit_transform(x)

In [71]:
x2

array([[-1.06863918, -0.909101  , -0.30117434, -1.01035646, -0.57001946],
       [-1.14883988, -1.03201259, -0.30656316, -1.17667595, -1.2809652 ],
       [-1.19896532, -1.46220314, -0.30553672, -1.40305525, -1.20987063],
       ...,
       [ 0.77597697,  1.61058654, -0.21033431,  1.14255695,  1.87136822],
       [ 0.72585153,  0.9960286 , -0.21238719,  0.87459777,  1.05946818],
       [ 0.71582644,  0.87311702, -0.21238719, -0.01243951,  1.10781249]])

In [72]:
np.mean(x2)

-6.077010240053489e-17

In [73]:
x2

array([[-1.06863918, -0.909101  , -0.30117434, -1.01035646, -0.57001946],
       [-1.14883988, -1.03201259, -0.30656316, -1.17667595, -1.2809652 ],
       [-1.19896532, -1.46220314, -0.30553672, -1.40305525, -1.20987063],
       ...,
       [ 0.77597697,  1.61058654, -0.21033431,  1.14255695,  1.87136822],
       [ 0.72585153,  0.9960286 , -0.21238719,  0.87459777,  1.05946818],
       [ 0.71582644,  0.87311702, -0.21238719, -0.01243951,  1.10781249]])

In [74]:
x2=pd.DataFrame(x2)

In [75]:
x2.head(3)

          0         1         2         3         4
0 -1.068639 -0.909101 -0.301174 -1.010356 -0.570019
1 -1.148840 -1.032013 -0.306563 -1.176676 -1.280965
2 -1.198965 -1.462203 -0.305537 -1.403055 -1.209871

In [76]:
x2[0].mean()

1.1686558153949016e-16

In [77]:
x2[0].std()

1.001098297969686

In [78]:
mm=MinMaxScaler()

In [79]:
x3=mm.fit_transform(x)

In [80]:
x3=pd.DataFrame(x3)

In [81]:
x3[0].mean()

0.3142770719903207

In [82]:
x3[0].min()

0.0

In [83]:
mm2=MinMaxScaler(feature_range=(0,10))

In [85]:
x4=mm2.fit_transform(x)
x4=pd.DataFrame(x4)
x4.head(3)

          0         1         2         3         4
0  0.517241  2.159091  0.008139  0.745415  1.839080
1  0.320197  1.931818  0.001017  0.442537  0.689655
2  0.197044  1.136364  0.002374  0.030288  0.804598

In [88]:
x4[0].min()

0.0