In [4]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import xgboost as xgb

In [5]:
df=pd.read_csv('heart.csv')

In [6]:
df.head(3)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

In [7]:
y=df['output']
x=df.drop('output',axis=1)

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,train_size=0.7)

In [12]:
dt=DecisionTreeClassifier()
model=dt.fit(x,y)
model.score(x,y)

1.0

In [15]:
dt=DecisionTreeClassifier()
model=dt.fit(x_train,y_train)
model.score(x_test,y_test)

0.7582417582417582

In [16]:
rf=RandomForestClassifier(n_estimators=200)
model=rf.fit(x_train,y_train)
model.score(x_test,y_test)

0.7912087912087912

In [17]:
rf=xgb.XGBClassifier()
model=rf.fit(x_train,y_train)
model.score(x_test,y_test)

0.8131868131868132

In [18]:
df.shape

(303, 14)

In [23]:
insan=df.sample().drop("output",axis=1).values

In [24]:
model.predict(insan)

array([1])