In [51]:
import numpy as np 
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error

In [52]:
df=pd.read_csv('insurance.csv')

In [53]:
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [54]:
df=pd.get_dummies(df,columns=['sex','smoker','region'],drop_first=True)

In [55]:
df.head(3)

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.90,0,16884.9240,False,True,False,False,True
1,18,33.77,1,1725.5523,True,False,False,True,False
2,28,33.00,3,4449.4620,True,False,False,True,False

In [56]:
y=df[['charges']]
x=df.drop('charges',axis=1)

In [57]:
lm=LinearRegression()
model=lm.fit(x,y)

In [58]:
model.score(x,y)

0.7509130345985207

In [59]:
model.predict([[19,26,0,1,1,0,0,1]])

C:\Users\serif\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[24517.93110714]])

In [60]:
df_hata=pd.DataFrame()

In [61]:
df_hata['y']=y

In [62]:
df_hata=pd.DataFrame()

In [63]:
df_hata

Empty DataFrame
Columns: []
Index: []

In [64]:
y_tahmin=model.predict(x)

In [65]:
df_hata['tahmin']=y_tahmin

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series

In [ ]:
df_hata

In [66]:
df_hata['error']=y-y_tahmin

In [67]:
df_hata.head(10)

          error
0  -8408.789028
1  -1723.050534
2  -2257.526491
3  18229.640447
4  -1725.638186
5     36.795801
6  -2419.371625
7   -766.405007
8  -2096.563220
9  17038.499402

In [68]:
df_hata['squared_error']=df_hata['error']**2

In [69]:
df_hata['abs_error']=np.abs(df_hata['error'])

In [70]:
df_hata

             error  squared_error     abs_error
0     -8408.789028   7.070773e+07   8408.789028
1     -1723.050534   2.968903e+06   1723.050534
2     -2257.526491   5.096426e+06   2257.526491
3     18229.640447   3.323198e+08  18229.640447
4     -1725.638186   2.977827e+06   1725.638186
...            ...            ...           ...
1333  -1750.775386   3.065214e+06   1750.775386
1334  -1305.950009   1.705505e+06   1305.950009
1335  -2519.298986   6.346867e+06   2519.298986
1336    761.360061   5.796691e+05    761.360061
1337  -7944.262968   6.311131e+07   7944.262968

[1338 rows x 3 columns]

In [71]:
df_hata['percent_error']=np.abs((y-y_tahmin)/y)

In [72]:
df_hata.mean()

error            6.253626e-13
squared_error    3.650189e+07
abs_error        4.170887e+03
percent_error    4.203527e-01
dtype: float64

In [73]:
mean_squared_error(y,y_tahmin)

36501893.00741544

In [74]:
mean_absolute_error(y,y_tahmin)

4170.8868941635865

In [75]:
mean_absolute_percentage_error(y,y_tahmin)

0.42035268473727033