In [118]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [119]:
df=pd.read_csv('audi.csv')

In [120]:
df=df[["Year","Type","Mileage(miles)","Engine","PS","Transmission","Fuel","Number_of_Owners","Price(£)"]]
df.head(3)

,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£)
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0

In [121]:
df['Engine']=df['Engine'].str.replace("L","")

In [122]:
df['Engine']=pd.to_numeric(df['Engine'])

In [123]:
df=pd.get_dummies(df,columns=['Type','Transmission','Fuel'],drop_first=True)

In [124]:

x=df.drop('Price(£)',axis=1)
y=df[['Price(£)']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 471 non-null    float64
 1   Mileage(miles)       471 non-null    float64
 2   Engine               471 non-null    float64
 3   PS                   471 non-null    float64
 4   Number_of_Owners     471 non-null    int64
 5   Price(£)             471 non-null    float64
 6   Transmission_Manual  471 non-null    bool
 7   Fuel_Petrol          471 non-null    bool
dtypes: bool(2), float64(5), int64(1)
memory usage: 23.1 KB

In [127]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.70,random_state=22)

In [130]:
lm=LinearRegression()
model=lm.fit(x_train,y_train)
model.score(x_test,y_test)

0.9065438569490144

In [132]:
model.predict([[2016,30000,1.0,90,5,0,1]])

C:\Users\serif\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[13704.96487686]])

In [ ]:

model=lm.fit(x,y)
model.score(x,y)